/*fontes diferentes importadas */
@import url('https://fonts.cdnfonts.com/css/gautama');
@import url('https://fonts.cdnfonts.com/css/dogfish');
@import url('https://fonts.cdnfonts.com/css/super-indie');
:root{
  --background: #729CAD;
  --backgorund-complement: #38677A;
  --contrast: #D3DCE0;
  --contrast-complement: #133847;
  --neutral: #032533;
}
body{
  background-color: var(--contrast);
.cabecalho {
  font-family: 'gautama';
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -6px;
  text-align: center;
  background-color: var(--background);
  color: white;
  padding: 10px;
}
#imagem-orc{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}
/*separar os itens de navegação em linha*/
.menu-de-navegacao{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lista-navegacao{
  display: flex;
  flex-direction: row;
}
.componentes-navegacao{
  font-size: large;
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-content: flex-start;
  margin-top: -20px
}
/*formatação dos itens da lista de navegação após serem ancorados*/
.referencia{
  color: white;
  text-decoration: none;
}

}
#frase-diferente{
  font-family: 'Dogfish', sans-serif;;
  font-size: x-large;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.introducao{
  display: flex;
  justify-content: space-around;
}
.falas-intro{
  font-family: 'Super Indie', sans-serif;         
  color: #333;                                                          
  display: flex;
  text-align: center;
  margin-top: 100px;
  flex-direction: column;
}
#imagem-caio img{
  height: 400px;
  width: 325px;
  border-radius: 50%;
}
#sobre-mim{
  margin-top: 20px; ;
}
/*Titulo topicos e parag topicos são referentes a todos os tópicos, como sobre mim, habilidades e etc.
Já que todos vão possuir a mesma formatação, os reuni em uma só classe*/
.titulo-topicos{
  font-family: 'gautama';
  display: flex;
  justify-content: center;
}
.parag-topicos{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: medium;
}
#habilidades{
  margin-top: 20px; ;
}
.imagens-tecnologia{

  margin: 22px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.tecnologia{
  height: 100px;
  width: 90px;
}
/*LEMBRAR DE IMPLEMENTAR PROJETO*/
.imagem-projeto{
  height: 200px;
  width: 215px;
  justify-content: center;
}
/*estilização botão*/
#botao{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
button {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

/*Começo do footer*/
#footer{
  background-color: #91B0B3;
  margin-top: 20px;
  margin-left: -10px;
  margin-bottom: -40px;
  margin-right: -8px;
}
#titulo-footer{
  text-align: center;
  font-family: 'gautama';
  color: white;
  text-align: center;
  padding: 20px;
}
.contatos{
  display: flex;
  flex-direction: column;
}
/*mexendo nos ícones*/
.fa-github{
  font-size: 30px;
  margin-left: 8px;
}
.fa-envelope{
  font-size: 30px;
  margin-left: 8px;
}
.fa-linkedin{
  font-size: 30px;
  margin-left: 8px;
}
#link-git{
  margin-left: 50px;
  margin-top: -20px;
}
#link-email{
  margin-left: 50px;
  margin-top: -20px;
}
#link-linkedin{
  margin-left: 50px;
  margin-top: -20px;
}
.referencia-link{
  text-decoration: none;
  color: black;
}
#agradecimento{
  display: flex;
  justify-content: end;
}
#frase-agradecimento{
  color: white;
  font-size: xx-large;
  font-family: 'gautama';
  margin-right: 10px;
}
